/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto; 
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

h2, h3 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

/* Tabelas */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Carrinho de Compras */
#cart-section {
    margin-top: 40px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#cartTableBody td, #cartTableBody th {
    text-align: center;
}

#total {
    font-size: 24px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Aplica negrito */
    margin-top: 40px; /* Adiciona espaçamento acima */
    margin-bottom: 40px; /* Adiciona espaçamento abaixo */
    text-align: center; /* Centraliza o texto */
}

/* Total Amount */
#totalAmount {
    font-size: 28px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Aplica negrito */
    margin-top: 20px; /* Adiciona espaçamento acima */
    margin-bottom: 20px; /* Adiciona espaçamento abaixo */
    text-align: center; /* Centraliza o texto */
}

/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Ajuste a largura para parecer um recibo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo da tabela no modal */
.modal-content table {
    width: 100%;
    border-collapse: collapse;
}

.modal-content th, .modal-content td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: left;
}

.modal-content th {
    background-color: #f2f2f2;
}

#totalAmountModal, #installmentValue {
    font-size: 18px; /* Ajuste o tamanho da fonte */
    font-weight: bold; /* Aplica negrito */
    margin-top: 10px; /* Adiciona espaçamento acima */
    margin-bottom: 10px; /* Adiciona espaçamento abaixo */
    text-align: center; /* Centraliza o texto */
}