.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.box h1, .box h2 {
    text-align: center;
}

#buscar-produtos, #carrinho, #pagamento {
    margin-bottom: 30px;
}

.produto-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#adicionar-produto {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#adicionar-produto:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#total-geral, #troco {
    font-weight: bold;
    color: #007bff;
}

#finalizar-venda {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

#finalizar-venda:hover {
    background-color: #218838;
}
