/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #1e2a47;
  display: flex;
  flex-wrap: wrap; /* Permite quebra de linha se necessário */
  justify-content: space-between; /* Espaça os blocos uniformemente */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50; /* Charcoal */
    padding: 10px 20px;
    color: #fff;
    flex-wrap: wrap; /* Permite quebra em telas pequenas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra suave para sobrepor ao fundo */
    border-bottom: 3px solid #1abc9c; /* Borda de destaque com Turquoise */
    position: fixed; /* Fixa a navbar no topo */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda a largura da tela */
    z-index: 1000; /* Garante que ela fique acima de outros elementos */
    background: linear-gradient(135deg, #2c3e50, #1e2a47); /* Gradiente suave de Charcoal para Dark Blue */
    margin: 0; /* Garante que a navbar encoste nas bordas da tela */
}

.navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Logo */
.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
    color: #f1f1f1; /* White Smoke */
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.3s ease;
}

.navbar .logo a:hover {
    color: #f7c56f; /* Soft Yellow */
}

/* Links de navegação */
.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none; /* Remove os pontos da lista */
    padding-left: 0; /* Remove o espaçamento à esquerda da lista */
}

/* Item de lista na navbar */
.nav-links li {
    margin-right: 20px; /* Espaço entre os links */
}

/* Links de navegação */
.nav-links a {
    color: #a3c9e2; /* Light Blue */
    text-decoration: none;
    padding: 0 15px;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f7c56f; /* Soft Yellow */
}

/* Banner de Boas-Vindas */
.welcome-banner {
    width: 100%;
    height: 500px; /* Aumenta a altura do banner */
    background: url('../img/banner.jpg') no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; /* Remove a margem superior */
}

.welcome-banner .overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Película opaca */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.welcome-banner h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.welcome-banner .btn-start {
    padding: 10px 20px;
    background-color: #1abc9c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transform: scale(1.05); /* Corrige a propriedade de transformação */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona transição suave para a cor de fundo e o tamanho */
}

.welcome-banner .btn-start:hover {
    background-color: #16a085;
    transform: scale(1.05); /* Adiciona a transformação de escala ao passar o mouse */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Organiza os itens da navbar em uma coluna */
        align-items: center; /* Centraliza os itens */
    }

    .nav-links {
        margin-top: 10px;
        flex-direction: column; /* Organiza os links em uma coluna */
    }

    .nav-links a {
        padding: 10px 0; /* Adiciona mais espaçamento nos links */
    }
}



/* Estilo das seções */
.section {
    width: calc(25% - 20px); /* Ajusta a largura dos blocos para caber 4 na mesma linha */
    height: 300px; /* Define a altura dos blocos */
    margin: 10px; /* Reduz o espaçamento entre os blocos */
    background-color: #2c3e50; /* Fundo escuro */
    color: #f9f9f9; /* Texto claro */
    border-radius: 8px;
    padding: 20px; /* Ajusta o padding para caber dentro dos blocos */
    vertical-align: top; /* Alinha os blocos ao topo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    transition: border 0.3s ease, transform 0.3s ease; /* Adiciona transição suave para a borda e o tamanho */
}

.section:hover {
    border: 2px solid #1abc9c; /* Borda de destaque com Turquoise */
    transform: scale(1.05); /* Corrige a propriedade de transformação */
    transition: scale 0.3s ease;
    background-color: #34495e; /* Fundo escuro ao passar o mouse */
    color: #ffffff; /* Texto claro ao passar o mouse */
}

/* Estilo do texto */
h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50; /* Charcoal */
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5); /* Sombra suave para sobrepor ao fundo */
    border-top: 3px solid #1abc9c; /* Borda de destaque com Turquoise */
}

.footer p {
    margin: 0;
    margin-right: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}


#link:hover{
    color: black;
    background-color: white;
}

#link a:hover{
    color: black;
    background-color: white;
}

#git-span {
    font-weight: bold;
    color: #000000;
}

span {
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}