/* Container principal para dividir o formulário e a lista de produtos */
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Flexível para telas menores */
}

/* Seções de Formulário e Lista de Produtos */
.left-section, .right-section {
    display: flex;
    flex-direction: column; /* Torna os itens verticais */
    justify-content: flex-start; /* Garante que o conteúdo comece do topo */
    flex: 1; /* As duas seções ocupam o mesmo espaço */
    min-width: 280px; /* Garante que as colunas não fiquem muito estreitas */
    padding: 20px;
    box-sizing: border-box;
}

/* Alinhando os títulos "Estoque" e "Produtos Cadastrados" */
h1, h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Formulário de cadastro com bordas arredondadas e fundo claro */
.form-container {
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Tabela de produtos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
}

table th, table td {
    padding: 15px;
    border: 1px solid #ddd;
}

table th {
    background-color: #2692ae;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table a {
    color: #2196F3;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s;
}

table a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
        float: none;
        padding: 10px;
    }

    form input, form button {
        padding: 12px; /* Maior conforto para toques em telas pequenas */
    }
}
